---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection, type CollectionKey } from "astro:content";
import { deckSchema, type Deck } from "../schemas/deck";
import { setsSchema } from "../schemas/sets";
import rawSets from "../sets.json";

export async function getStaticPaths() {
  const sets = setsSchema.parse(rawSets);
  const allPaths = [];

  for (const set of sets) {
    const decks = await getCollection(set.path as CollectionKey);
    allPaths.push(
      ...decks.map((deck) => ({
        params: { id: `${set.path}/${deck.id}` },
        props: { deck, setPath: set.path },
      })),
    );
  }

  return allPaths;
}

const { deck, setPath } = Astro.props as {
  deck: { id: string; data: Deck };
  setPath: string;
};
deckSchema.parse(deck.data);
---

<BaseLayout pageTitle={deck.data.title}>
  <flashcard-deck
    deck={JSON.stringify(deck.data)}
    deck-id={deck.id}
    set-path={setPath}
    home-route={import.meta.env.BASE_URL + setPath}
  >
    <h1 slot="header" id="ssr-header">{deck.data.title}</h1>
    <div id="content">
      {deck.data.cards[0]?.side1}
    </div>
  </flashcard-deck>
</BaseLayout>

<script>
  import "../components/lit/Flashcard.ts";
</script>
