---
const pageTitle = "Greetings";

const cards = [
    { side1: "Buon giorno", side2: "Hello" },
    { side1: "Grazie", side2: "Thank you" },
];

const tags = ["Italian", "greetings"];

const side1Color = "navy";
const side2Color = "maroon";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/styles/global.css" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/greetings/">Greetings</a>
        <h1>{pageTitle}</h1>
        <ul>
            {
                cards.map(({ side1, side2 }) => (
                    <li>
                        <span class="card__side1">{side1}</span>
                        <span class="card__side2">{side2}</span>
                    </li>
                ))
            }
        </ul>
    </body>
</html>
